@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-image: url(background-luaivros.jpg);
    color: blue;
}

h1 {
    font-size: 60px;
    animation: mudarCor 5s infinite;
    font-family: 'Great Vibes', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}
h3{ 
    font-family: 'Crimson Text', serif;
    font-size: 22px;
}

.fincionalidades-basicas h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.fincionalidades-basicas h3{
    font-family: 'Crimson Text', serif;
    font-size: 22px;
}
@keyframes mudarCor {
    0%, 100% { color: rgb(255, 0, 0); } /* Inicia e termina com a cor vermelha */
    25% { color: green; }
    50% { color: purple; }
    75% { color: blue; }
    90% { color: yellow; }
}

.cadastro-de-materiais,
.controlo-do-stoque,
.circulação-de-materiais,
.reservas,
.busca-recuperação-informações,
.controle-acesso,
.relatorios-estatisticas,
.integração-outros-sistemas,
.segurança-backup,
.interface-usuario-amigavel,
.atualizacao-manutencao,
.cadastro-usuario,
.cadastro-materiais,
.controlo-estoque,
.emprestimo-devolição,
.renovação-emprestimo,
.resrevas,
.avisos-automáticos,
.controle-multas-taxas,
.relatório-simples,
.segurança,
.backup-recuperação,
.personalização-perfis-usuario {
    font-size: 24px; /* Tamanho de fonte maior para os tópicos dentro das divs */
    font-weight: bold; /* Texto em negrito */
    color: #4ea3f8; /* Cor do texto (ajuste conforme necessário) */
    margin-top: 10px; /* Espaço superior para separar os tópicos */
}